<div class="container">
  <h2>Products table</h2>
  <form class="search">
      <input type="text" placeholder="Search product" (keyup)="searchInput.next($any($event.target).value)">
  </form>
  <div>
    <button class="order-button" (click)="OrderProductsAsc()">OrderAsc</button>
    <button class="order-button" (click)="OrderProductsDesc()">OrderDsc</button>
  </div>
  <div>
    <button class="order-button" (click)="MostRecentProduct()">Most Recent Product</button>
  </div>
  <table class = "table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.ratings}}</td>
        <td>{{product.createdOn}}</td>
        <td>
          <button class="action-button" (click)="toggleEditForm(product)">Edit</button>
          <button class="action-button" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="toggleProductForm()">Show Product Form</button>
  <div *ngIf="showProductForm">
    <h2>Product Form</h2>
    <form (ngSubmit)="createProduct()">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" [(ngModel)]="product.name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" name="description" [(ngModel)]="product.description" required>
      </div>
      <div>
        <label for="ratings">Ratings:</label>
        <input type="text" name="ratings" [(ngModel)]="productRatingsInput">
      </div>
      <button type="submit">Create Product</button>
    </form>
  </div>
  <div *ngIf="showEditForm">
    <h2>Edit Product Form</h2>
    <form (ngSubmit)="editProduct(productToBeEdited)">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" [(ngModel)]="productToBeEdited.name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" name="description" [(ngModel)]="productToBeEdited.description" required>
      </div>
      <div>
        <label for="ratings">Ratings:</label>
        <input type="text" name="ratings" [(ngModel)]="productRatingsInput">
      </div>
      <button type="submit">Edit Product</button>
    </form>
  </div>
</div>

<app-stores></app-stores>