.table th,
.table td{
    border: solid 1px black;
    padding: 8px;
    text-align: center;
}

.search input{
    height: 30px;
    width: 210px;
    font-size: 16px;
    padding: 0;
}
.search button{
    margin-left: 4px;
    height: 30px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 2px white;
}

.order-button{
    margin-top: 10px;
    margin-bottom: 8px;
    height: 30px;
    margin-left: 4px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.action-button{
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    margin-right: 4px;
    border: solid 1px black;
}

.action-button:hover{
    opacity: 0.75;
}

.search button:hover,
.order-button:hover{
    opacity: 0.7;
}